body{
  transition: background-color 700ms linear;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background: #FFF;
    background-size: cover !important;
}

.chocolat-overlay {
	background: none;
}

#viewer {
	width : 80%;
	float : left;
	background: none;
}

#photos{
	width : 100%;
}

#thumbs{
	margin: auto;
}

.jThumbnailScroller{
	height: 40px !important;
	margin: auto !important;
	max-width : 70% !important;
}

#thumbs img {
	cursor: pointer;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition : opacity 1s;
	transition: opacity 1s;
	margin-right: 5px;
	opacity: 0.4;
	-moz-opacity: 0.4;
}

#thumbs img:hover {
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-o-transition : opacity 0.5s;
	transition: opacity 0.5s;
	margin-right: 5px;
	opacity: 1;
	-moz-opacity: 1;
}

#thumbs img.selected {
	opacity: 1;
	-moz-opacity: 1;
}

#sidebar {
	float: left;
	width : 20%;
}

#sidebar h1 {
	margin : 10px;
}

.clear{
	clear: both;
}

h2#serieTitle {
	width : 100%;
	padding: auto;
	text-align: center;
	margin: 20px 0 0 0;
}

.expand {
	cursor: pointer;
}

.link {
	margin-top: 20px;
	cursor:	pointer;
}

#friends {
	cursor: pointer;
}

ul#listFriends {
	text-align: center;
	margin-top : 50px;
}

ul#listFriends li a {
	font-style: italic;
}

ul#listFriends .friendName {
	font-weight: bold;
}

div.chocolat-top {
	display: none;
}

div#all {
	color: #000;
}

div#all.light-color,
div#all.light-color a,
div#all.light-color h1,
div#all.light-color h2 {
	color: #FFF;
}

div#all.dark-color,
div#all.dark-color a,
div#all.dark-color h1,
div#all.dark-color h2 {
	color: #000;
}
